# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.github
.yarn
.cursor

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist